#body-container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.main-container-blank-space,
.form-container-blank-space {
  flex: 1;
}

#form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#form-holder {
  flex: 3;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .main-container-blank-space {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main-container-blank-space {
    display: none;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .main-container-blank-space,
  .form-container-blank-space {
    display: none;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .main-container-blank-space,
  .form-container-blank-space {
    display: none;
  }
}

/* 
  ##Device = Ultra small Smartphone Mobile screens
  ##Screen = B/w 150px to 319px
*/

@media (min-width: 150px) and (max-width: 319px) {
  .main-container-blank-space,
  .form-container-blank-space {
    display: none;
  }
}
